################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/copilot_chatbot/.vs/copilot_chatbot/FileContentIndex/cb3ac8f3-d28d-48be-8878-ff5f9d040774.vsidx
/copilot_chatbot/.vs/copilot_chatbot/FileContentIndex/df0d6f1c-9d1f-4c5b-83e1-70e89ec64ed2.vsidx
